<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="public" route_prefix="rosters" sub_name="search" format="search" controller="NF\Rosters:Roster" context="nfRosters" action_prefix="Search"/>
  <route route_type="public" route_prefix="rosters" sub_name="search-overlay" format="search-overlay" controller="NF\Rosters:Roster" context="nfRosters" action_prefix="SearchOverlay"/>
</routes>
