<xf:title>{{ phrase('cav7_ens_next_steps_title') }}</xf:title>

<div class="block">
	<div class="block-container">
		<div class="block-body">
			<div class="block-row">
				{{ phrase('cav7_ens_next_steps_body') }}
			</div>
			<div class="block-row">
				<img src="{{ base_url('styles/default/cav7/enlistment-next-steps/enlistment-process.png') }}"
					alt="Enlistment process"
					width="512" height="1024"
					style="max-width: 100%; height: auto;" />
			</div>
			<div class="block-row">
				<xf:button href="{{ link('threads', $thread) }}" class="button--primary">{{ phrase('cav7_ens_next_steps_button') }}</xf:button>
			</div>
		</div>
	</div>
</div>
